#### Концепция библиотеки подразумевает создание нескольких моделей и сравнение их результатов, но самый простой вариант использования - собственное использование конкретной модели из имеющихся .

In [27]:
%load_ext autoreload
%autoreload 2

from sys import path 
path.append('../')

import warnings
warnings.filterwarnings(action='ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
import pandas as pd

from sklearn.model_selection import train_test_split

In [29]:
titanic_train = pd.read_csv('../data/raw/titanic/train.csv')
titanic_train = titanic_train.dropna()

X, y = titanic_train.loc[:, ['Age', 'Fare']], titanic_train.loc[:, 'Survived']

In [30]:
X.head()

     Age     Fare
1   38.0  71.2833
3   35.0  53.1000
6   54.0  51.8625
10   4.0  16.7000
11  58.0  26.5500

In [36]:
X.describe()

              Age        Fare
count  183.000000  183.000000
mean    35.674426   78.682469
std     15.643866   76.347843
min      0.920000    0.000000
25%     24.000000   29.700000
50%     36.000000   57.000000
75%     47.500000   90.000000
max     80.000000  512.329200

### Auto ML

In [35]:
from ABC.core.auto import AutoML

In [24]:
%%time

# Здесь можно заметить баг, неправильно печатается структура первого пайплайна

am1 = AutoML()

am1.fit_all_animals(X, y, parallel=True, n_jobs=3, stdout_to_file=False)
am1.print_animals()

Обученные модели:

ModelCrossValidation: 140092055454160
  └End

GridOptimizeMaxDepth: 140091591060752
  └End

ModelSVC: 140091591061136
  └End

TransformStandardScaler: 140091591061264
  └ModelLogisticRegression: 140091591061328
    └End


CPU times: user 67.3 ms, sys: 238 µs, total: 67.6 ms
Wall time: 1.64 s

In [25]:
%%time

am2 = AutoML()

am2.fit_all_animals(X, y, parallel=False, stdout_to_file=True)
am1.print_animals()

Обученные модели:

ModelCrossValidation: 140092055454160
  └End

GridOptimizeMaxDepth: 140091591060752
  └End

ModelSVC: 140091591061136
  └End

TransformStandardScaler: 140091591061264
  └ModelLogisticRegression: 140091591061328
    └End


CPU times: user 15.7 s, sys: 75.6 ms, total: 15.8 s
Wall time: 3.24 s

#### Видно что параллельно чуть быстрее

#### Сохраним, загрузим и сделаем предсказание лучшей модели

In [17]:
from ABC.core.storage import Storage

Storage.set_root('../data/models/')

In [18]:
am2.save_best_animal()

Сохранение:
	Текущая директория: /home/alice/Documents/auto_bin_classification/notebooks
	Корень базы данных: ../data/models
	Хранилище/Подхранилище: 928d9c16d78748d7938c2f0167c611a7/best_animal

In [19]:
best_model = am2.load_best_animal()

Загрузка:
	Загрузка из: ../data/models/928d9c16d78748d7938c2f0167c611a7/best_animal/model.pickle
Объект был сохранен: 2020-11-22 23:24:59.460671
Описание: отсутствует

In [20]:
from sklearn.metrics import f1_score

best_model.predict(am2.X_test)

array([1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0])